<h2>Por Pais</h2>
<hr>
<div class="row">
  <div class="col">
    <form (ngSubmit)="buscar()" autocomplete="off">
      <input
        type="text"
        name="termino"
        class="form-control"
        [(ngModel)]="termino"
        placeholder="Buscar pais...">
    </form>
  </div>
</div>
<hr>

<div *ngIf="existeError === true" class="alert alert-danger">
  No se encontro nada en la busqueda ingresada
</div>
<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Bandera</th>
          <th>Pais</th>
          <th>Capital</th>
          <th>Region</th>
          <th>Poblacion</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of paises;let i = index">
          <td>{{i+1}}</td>
          <td><img style="width: 50px;" [src]="item.flags.png" alt=""></td>
          <td>{{item.name.common}}</td>
          <td>{{item.capital}}</td>
          <td>{{item.region}}</td>
          <td>{{item.population | number }}</td>
          <td>
            <a [routerLink]="['/pais',item.cca2]">Ver...</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
